.noticeList {
  position: absolute;
  width: 12rem;
  max-height: 12.5rem;
  top: 2rem;
  background-color: white;
  border: 1px solid #ababab;
  border-radius: 10px;
  list-style: none;
  padding: 1rem;
  overflow: auto;
  animation: dropdown 0.3s ease;
}
.noticeTop {
  text-align: center;
  color: #5299eb;
  margin: 0 0 10px 0;
  border-bottom: 1px solid #5299eb;
}

.notice {
  margin: 3px;
  padding: 5px;
  background-color: rgb(233, 233, 233);
  border-radius: 10px;
}

.notice:hover {
  cursor: pointer;
  background-color: rgb(210, 210, 210);
}

@keyframes dropdown{
  0%{
    transform: translateY(-3%);
  }
  100%{
    transform: translateY(0);
  }
}