.MainLayout {
  margin: 1rem;
  width: 58rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hot {
  border-radius: 15px;
  padding: 1rem;
  width: 95%;
}
.hotPost {
  border: 1px solid black;
  border-radius: 20px;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  padding: 1rem;
}

.box1,
.box2 {
  border-radius: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  margin-bottom: 1rem;
}

@media screen and (max-width: 1250px) {
  /* 타블렛 가로 */
  .box1,
  .box2 {
    min-height: 20rem;
  }
}
@media screen and (max-width: 899px) {
  /* 모바일 가로, 타블렛 세로 */
  .box1,.box2{
    min-height: 26rem;
  }
}

@media screen and (max-width: 599px) {
  /* 모바일 세로 */
  .box1,.box2{
    min-height: 30rem;
  }
}
